@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root{
    height:100%;
}


.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
    z-index: 0 !important;
}


.rdrMonth{
    width: 100% !important;
}

.rdrCalendarWrapper{
    width: 100% !important;
    font-size: 16px !important;
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.3s ease-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}